@import './variables';

.input-field {
  margin-left: 5px;
}
.input-box {
  padding: 15px;
  background-color: rgba(131, 131, 131, 0.6);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.submit-button {
  background-color: rgb(130, 181, 211);
}
.error-message {
  color: #8a2727;
  font-weight: bold;
}
.success-message {
  color: rgb(84, 190, 51);
}
.background-image {
  width: 100%;
  min-width: 1000px;
}
input {
  width: 95%;
}
.modal-container {
  margin: 30px;
}
.card-bg {
  background-color: $card-bg-color
}
.material-button {
  text-transform: none;
}
hr {
  background-color: black;
}
.container-margin {
  margin: 30px auto;
}
.md-field.md-theme-default.md-focused label {
  color: white !important;
  font-size: 14px;
  font-weight: bold;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}

