@import './variables';

.input-field {
  margin-left: 5px;
}
.input-box {
  padding: 15px;
  background-color: rgba(131, 131, 131, 0.6);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.submit-button {
  background-color: rgb(130, 181, 211);
}
.error-message {
  color: rgb(187, 61, 61);
}
.background-image {
  width: 100%;
  min-width: 1000px;
}
